/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/*NavBar*/

.navbar .navBarBrand {
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
	display: block;
	font-family: 'Anton', sans-serif;
}

.brandSlogan {
	font-size: 20px;
	font-weight: 100;
	color: #003791;
	font-family: 'Teko', sans-serif;
}

.brandSlogan2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 1.7rem;
}

.tableCell {
	width: 200px;
}
